body{
    padding:0;
    margin:0;
    background-color:rgb(65, 126, 92);
}
.wrapper{
    background-color:rgb(243, 243, 237); 
    color:black;   
    width:85%;
    max-width:1650px;
   
    margin-left:auto;
    margin-right:auto;


}
.text{
    margin-top:5em;
    padding:10em 4em 20em 4em;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 4em;
   

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 2em;  

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-size:1.5em;

}
a{
    display:inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(12, 12, 97);
    text-decoration:none;
    font-size:1.8em;
    padding:1em;
   
}
a:hover{
    color:whitesmoke;
}
.list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.4em;
}
img{
    max-width:100%;

}
#button{
    color:whitesmoke;
    background-color:rgb(65, 126, 92);
    padding:1em; 
    border:2px solid white;
    border-radius: 4px;
    box-shadow: 2px 3px #3f3d3d
}

/*menu*/
.navigation .menu-icon{
    display:none;
}



